.apex {
    display: flex;
    background: url("https://cdn.pixabay.com/photo/2020/04/17/08/11/blood-5053770_960_720.jpg") no-repeat center;
    height: 100%;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
  }