* {
    box-sizing: border-box;
  }
  .apex{
    background-image: url('https://pbs.twimg.com/media/ESGXeBVVAAI-AVO.jpg');
  }
  .home__img{
    width: 100%;
  }
  /* Add styles to the form container */
  .container {
    margin-top: 6%;    
    height: 400px;
    left: 200px;
    width: 400px;
    background: rgba(255, 255, 255, 0.678);
    border-radius: 20px;
   
    
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #0c0404;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: rgb(238, 237, 237);
    outline: none;
  }
  