 
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img src="https://cdn.pixabay.com/photo/2017/02/15/20/58/ekg-2069872_960_720.png" alt="" height="600px">
      </div>
  
      <div class="col-md-6">
        <h1>Donate Blood</h1>
        <form id="get-form" class="form" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="facility" id="facility"
              autocomplete="off" placeholder=" " required />
            <label for="first_name" class="label-username">
              <span class="content-first_name">Facility</span>
            </label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="location" id="facility"
              autocomplete="off" placeholder=" " required />
            <label for="first_name" class="label-username">
              <span class="content-first_name">Location</span>
            </label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="bloodgroup" id="bloodgroup"
              autocomplete="off" placeholder=" " required />
            <label for="last_name" class="label-last_name">
              <span class="content-last_name">Bloodgroup</span>
            </label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="condition" id="condition"
              autocomplete="off" placeholder=" " required />
            <label for="first_name" class="label-username">
              <span class="content-first_name">Medical Condition</span>
            </label>
          </div>
          <button class="btn btn-red">Register</button>
        </form>
      </div>
    </div>
  </div>